<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/login.css">
<%- include("template/header") %>
<body>
<%- include("template/navigation") %>
<div class="container">
    <h1><%= title %></h1>
    <p>Please select:</p>
    <button class="btn" id="loginBtn">Login</button>
    <button class="btn" id="registerBtn">Register</button>


    <!-- Login Form -->
    <form id="loginForm" method="post" action="/auth/login" class="<%= title.toLowerCase() === "login" ? "active" : "" %>">
        <h3>Login</h3>

        <br>
        <input id="loginEmail" type="email" name="email" placeholder="Email" required><br><br>
        <input id="loginPassword" type="password" name="password" placeholder="Password" required><br><br>
        <button type="submit">Login</button>
    </form>

    <!-- Register Form -->
    <form id="registerForm" method="post" action="/auth/register" class="<%= title.toLowerCase() === "register" ? "active" : "" %>">
        <h3>Register</h3>

        <input type="email" id="registerEmail" name="email" placeholder="Email" required><br><br>
        <input type="password" id="registerPassword" name="password" placeholder="Password" required><br><br>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password"
               required><br><br>
        <label for="birthdate" style="display:block">enter birthdate</label>
        <input type="date" id="birthdate" name="birthdate" placeholder="birthdate" required><br><br>
        <button type="submit">Register</button>
        <p id="passwordMismatch" style="color: red; display: none;">Passwords not equal</p>
    </form>


</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const birthdateInput = document.getElementById("birthdate");
        const today = new Date();
        today.setFullYear(today.getFullYear() - 18);
        birthdateInput.max = today.toISOString().split("T")[0];
    });


    document.getElementById("loginBtn").addEventListener("click", function () {
        document.getElementById("loginForm").classList.add("active");
        document.getElementById("registerForm").classList.remove("active");
    });

    document.getElementById("registerBtn").addEventListener("click", function () {
        document.getElementById("registerForm").classList.add("active");
        document.getElementById("loginForm").classList.remove("active");
    });

    // Form validation
    document.getElementById("registerForm").addEventListener("submit", function (event) {
        let password = document.getElementById("registerPassword")?.value;
        let confirmPassword = document.getElementById("confirmPassword")?.value;
        let errorDiv = this.querySelector("#error");

        if (password !== confirmPassword) {
            errorDiv.innerText = "Passwords do not match";
            event.preventDefault();
        }
    });
</script>
</body>

</html>